section.about-section
  .wrapper
    .about-section__container
      img.about-section__img-left(src="images/about-section-img-left.png" loading="lazy" width="989" height="1113" alt="image")
      img.about-section__img-right(src="images/about-section-img-right.png" loading="lazy" width="851" height="878" alt="image")
      h2.about-section__title.font-w-black.font-s-44
        | За 23 года на рынке 
        br.no-br
        | обслужили более 98 000 
        br.no-br
        | довольных клиентов
      .about-section__box
        .about-section__text-mobile
          .font-s-16
            | Фотосалон «ХИТФОТО» открылся в 2001 году
            | во Владивостоке. Мы сосредоточились
            | на предоставлении услуг срочных фото
            | на документы, включая съемку, обработку,
            | печать в любых форматах и бессрочное хранение.
            | За годы работы большая часть
            | наших клиентов стали постоянными,
            | а прибыль компании продолжает расти.
            | В связи с расширением бизнеса мы приняли 
            | решение запустить франшизу, чтобы передать
            | наши знания и опыт новым партнерам.
          .font-s-16
            | Франшиза «ХИТФОТО» позволяет вам быстро
            | запустить собственный фотосалон с учетом
            | накопленного опыта нашей команды
            | и отлаженных процессов изготовления
            | качественных фотографий.
          .font-s-16
            | Став нашим партнером, вы получаете возможность
            | избавить себя от основных ошибок, быстро
            | стартовать в интересной и прибыльной нише,
            | а также перейти к масштабированию
            | до собственной сети фотосалонов.
        .about-section__text
          .about-section__text-item
            | Фотосалон «ХИТФОТО» открылся в 2001 году во Владивостоке. Мы сосредоточились на 
            br.no-xxl
            | предоставлении услуг срочных фото на документы, включая съемку, обработку, печать в любых 
            br.no-xxl
            | форматах и бессрочное хранение. За годы работы большая часть наших клиентов стали 
            br.no-xxl
            | постоянными, а прибыль компании продолжает расти. В связи с расширением бизнеса мы приняли 
            br.no-xxl
            | решение запустить франшизу, чтобы передать наши знания и опыт новым партнерам.
          .about-section__text-item
            | Франшиза «ХИТФОТО» позволяет вам быстро запустить собственный фотосалон с учетом 
            br.no-xxl
            | накопленного опыта нашей команды и отлаженных процессов изготовления качественных 
            br.no-xxl
            | фотографий.
          .about-section__text-item
            | Став нашим партнером, вы получаете возможность избавить себя от основных ошибок, быстро 
            br.no-xxl
            | стартовать в интересной и прибыльной нише, а также перейти к масштабированию до 
            br.no-xxl
            | собственной сети фотосалонов.
        img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="760" height="486" alt="image")
      .about-section__bottom-title.font-w-black.font-s-24 Будем рады ответить на ваши вопросы по франшизе!
      form.about-section__form(data-feedback-form)
        textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
        .about-section__form-column
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Скачать
