header.header
  .wrapper
    .header__container
      .header__brand-block
        img.header__logo(src="images/logo-header.svg" loading="lazy" width="470" height="72" alt="logo")
        .header__brand
          .header__line
          .header__text
            .font-w-bold.font-s-16.color-red ХИТФОТО
            .font-s-16 Франшиза <br> фотосалона
      .header__connection
        a(href="tel:+79990000000")
          img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="19" height="19" alt="icon")
        include ../components/phone-number.pug
